@section Title {About}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>About MVC jqGrid</h1>
        </hgroup>        
    </div>
</section>
}

<div id="about">
    <p><b>MvcJqGrid</b> is a html helper for ASP.NET MVC which eases the implementation of jqGrid in your website or webapplication.</p> 
    
    <p>The helper contains a fluent interface providing for a clean and readable view. Most of the properties, events and methods from the base classes of jqGrid are implemented in the helper, including paging, sorting and toolbar searching. At this point, editing, treegrids and subgrids are not yet supported.</p>
    
    <ol class="round">
        <li class="one">All source code is licensed under the <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">GNU Lesser General Public License</a>.<br/>&nbsp;</li>
        <li class="two">Source code and documentation are hosted on <a href="http://github.com/robinvanderknaap/MvcJqGrid" target="_blank">github</a>.<br/>&nbsp;</li>
    </ol>
</div>

