@section Title {Events}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Events Example</h1>
            <h2>razor engine</h2>
        </hgroup>
        
    </div>
</section>
}

@(Html.Grid("events")
    .SetCaption("Events")
    .AddColumn(new Column("CustomerId")
        .SetLabel("Id"))
    .AddColumn(new Column("Name"))
    .AddColumn(new Column("Company"))
    .AddColumn(new Column("EmailAddress"))
    .AddColumn(new Column("Last Modified"))
    .AddColumn(new Column("Telephone"))
    .SetUrl(Url.Action("GridDataBasic"))
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[]{10,15,20,50})
    .SetViewRecords(true)
    .SetPager("pager")
    .OnSortCol("alert('Sort direction: ' + sortorder)")
    .OnSelectRow("onRowSelected(rowid, status)"))

<script type="text/javascript">
    function onRowSelected(rowid, status) {
        alert('This row has id: ' + rowid);
    }
</script>

<h3>Source:</h3>

<pre>@@(Html.Grid("events")
    .SetCaption("Events")
    .AddColumn(new Column("CustomerId")
        .SetLabel("Id"))
    .AddColumn(new Column("Name"))
    .AddColumn(new Column("Company"))
    .AddColumn(new Column("EmailAddress"))
    .AddColumn(new Column("Last Modified"))
    .AddColumn(new Column("Telephone"))
    .SetUrl("@Url.Action("GridDataBasic")")
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[]{10,15,20,50})
    .SetViewRecords(true)
    .SetPager("pager")
    .OnSortCol("alert('Sort direction: ' + sortorder)")
    .OnSelectRow("onRowSelected(rowid, status)"))

&lt;script type="text/javascript"&gt;
    function onRowSelected(rowid, status) {
        alert('This row has id: ' + rowid);
    }
&lt;/script&gt;</pre>

<h3>Explanation:</h3>

<pre>The jqGrid helper supports all kinds of events. You can call a function or add any kind of javascript 
to the event. Most events pass some arguments along, read the intellisense for each event to see which 
variables are available during the event.

<i>OnSortCol</i>: Triggered when sortbutton is clicked. Available variables are 'index' and 'sortorder'

<i>OnSelectRow</i>: Triggered when row is selected. Available variables during the event are 'rowid' and
'status'. Status indicates if row is selected or unselected (only if multiselect is enabled)</pre>