@section Title {PostData}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Search Example</h1>
            <h2>razor engine</h2>
        </hgroup>
        
    </div>
</section>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/grid.postext.js")"></script>
<script type="text/javascript">
    function FunctionToAppendPostData() {

        $(this).appendPostData({ "someKey": "someValue" });
    }
</script>

@(Html.Grid("search")
    .SetCaption("Toolbar Search")
    .AddColumn(new Column("CustomerId")
        .SetLabel("Id"))
    .AddColumn(new Column("Name"))
    .AddColumn(new Column("EmailAddress"))
    .AddColumn(new Column("Last Modified")
        .SetSearchType(Searchtype.Datepicker))
    .AddColumn(new Column("Telephone"))
    .SetUrl(Url.Action("GridDataBasic"))
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[] { 10, 15, 20, 50 })
    .SetViewRecords(true)
    .SetPager("pager")
    .SetSearchToolbar(true)
    .SetSearchOnEnter(false)
    // using .call to stay in the this context 
    .OnBeforeRequest(" FunctionToAppendPostData.call(this)"))


<h3>Source:</h3>

<pre>
<b>
&lt;script type=&quot;text/javascript&quot; src=&quot;@@Url.Content(&quot;~/Scripts/grid.postext.js&quot;)&quot;&gt;&lt;/script&gt;
</b>
&lt;script type=&quot;text/javascript&quot;&gt;
    function FunctionToAppendPostData() {
        <b>$(this).appendPostData({ &quot;someKey&quot;: &quot;someValue&quot; });</b>
    }
&lt;/script&gt;;

@@(Html.Grid("search")
    .SetCaption("Toolbar Search")
    .AddColumn(new Column("CustomerId")
        .SetLabel("Id"))
    .AddColumn(new Column("Name"))
    .AddColumn(new Column("EmailAddress"))
    .AddColumn(new Column("Last Modified")
        .SetSearchType(Searchtype.Datepicker))
    .AddColumn(new Column("Telephone"))
    .SetUrl(Url.Action("GridDataBasic"))
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[] { 10, 15, 20, 50 })
    .SetViewRecords(true)
    .SetPager("pager")
    .SetSearchToolbar(true)
    .SetSearchOnEnter(false)
    // using .call to stay in the this context 
    .OnBeforeRequest(" FunctionToAppendPostData.call(this)"))</pre>

<h3>Explanation:</h3>

<pre>This configuration demonstrates adding extra post data to grid. By using the OnBeforeRequest event you can add extra data to your request. 
For example for an GET request it will be added to the query string.

<b>Please ensure you have the script "grid.postext.js" loaded, before using the postdata functions of jqGrid.</b>

<i>Below an example of that will be send with the ajax request</i>
_search:false
nd:1325064998082
rows:10
page:1
sidx:
sord:asc
<b>someKey:someValue</b>
</pre>